:root {
    --white-svg: invert(100%) sepia(8%) saturate(442%) hue-rotate(253deg) brightness(118%) contrast(100%); 
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 30px;
    width: 15%;
    height: 100%;
    row-gap: 10px;
    background-color: rgb(57, 166, 255);
    color: rgb(255, 255, 255);
}

.main-board {
    width: 85%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

.options, .admin-settings {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
}

li {
    list-style-type: none;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-header {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;
}

.sidebar-icon {
    filter: var(--white-svg);
    height: 30px;
    margin-right: 15px;
}

.main-board,
.top-page, 
.side-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-page {
    box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 2vh 3em 0 2em;
    row-gap: 10px;
    height: 20%;
    z-index: 1;
}

.search, 
.search-bar, 
.notifications, 
.user-actions, 
.user-profile, 
.greeting, 
.board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    padding-bottom: 20px;
    height: 50%;
}

.magnifying, .bell {
    height: 30px;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
}

.search-bar {
    width: 60%;
    column-gap: 1em;
}

input {
    border-radius: 30px;
    border: none;
    background-color: #e2e8f0;
    font-size: 1em;
    width: 100%;
    height: 2.5em;
}

.notifications {
    column-gap: 50px;
    font-size: 1.3em;
    font-weight: 900;
}

.user-profile {
    padding-bottom: 1em;
    font-weight: 900;
    height: 50%;
}

.greeting {
    column-gap: 20px;
}

.user-avatar-big {
    width: 80px;
    border-radius: 50%;
}

.user {
    font-size: 14px;
}

#username {
    margin: 10px 0 0 0;
    font-size: 24px;
}

.user-actions {
    column-gap: 30px;
}

.actions {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(57, 166, 255);
    width: 80px;
    padding: 15px 30px;
    border-radius: 30px;
}

.board {
    background-color: #e2e8f0;
    width: 100%;
    height: 80%;
}

.content {
    width: 75%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 15px;
    padding: 0 0 0 2em;
}

.cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.card {
    font-size: 0.8em;
    color: rgb(88, 88, 88);
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 1em 0px gold;
    width: 25%;
    height: 60%;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons {
    display: flex;
    align-self: flex-end;
    column-gap: 20px;
}

.card-icons>div {
    width: 30px;
    height: auto;
}

.card-icons>div:hover {
    cursor: pointer;
}

.content-header {
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    margin-top: 32px;
}

.side-content {
    width: 25%;
    height: 95%;
    padding: 2em 2em 0 0;
    gap: 15px;
}

h3 {
    margin: 0;
}

h4 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: black;
}

.announcements, .trending {
    background-color: white;
    border-radius: 10px;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0 30px;
}

.announcements>div:nth-child(even) {
    border-top: 1px #e2e8f0 solid;
    border-bottom: 1px #e2e8f0 solid;
    padding: 15px 0;
}

.announcements>div {
    color: rgb(88, 88, 88);
}

.trending-avatar {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.trending {
    font-size: 0.8em;
}

.trending>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.trending>div>div>p {
    margin: 0;
    color: rgb(88, 88, 88);
}

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);